/************************************************************************
*               GOC - OPEN DATA CHALLENGE                               *
*               Code by Team TDAA                                       *
*               CSS by Daniel & Alex                                    *
*                                                                       *
*************************************************************************/

 /***   MAIN_open***/
html, body {
    margin: 0 auto;
    background-color:white;
    font-family:'Raleway', Quicksand, sans-serif;
}

.clear {
    clear:both;
}

h1 {
    font-weight: normal;
}

h2 {
    
}

p { 
    
}

a {
    text-decoration: none;
    color:white; 
    border: none;
    outline: none;
    outline-style: none;
}

a:hover {
    color:gainsboro;
}

#main {
    
}

.break {
    display:none;
}

#cookie_alert {
    position:relative;
    width:100%;
    left:0;
    top:0;
    height:auto;
    background-color:lightgoldenrodyellow;
    padding-bottom: 5px;
}

.closeButton {
    font-size: 30px;
}


 /***   MAIN_close      ***/


 /***   HEADER_open     ***/

#logonav {
    float:left;
    /*background: url('../images/logo.PNG');*/
    height:60px;
    width:auto;
    /*background-size: auto;
    margin-top:5px;*/
    margin-left:10%;
    display: none;
}
    /***   NAVI_open       ***/


header {
    top:0;
    left:0;
    width:100%;
    height:60px;
    /*border-bottom: 1px solid lightgrey;*/
    background-color: lightcoral;
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #ED2939 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #ED2939 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #ED2939 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(100, #ED2939));
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #ED2939 100%);
    background-image: linear-gradient(to top, #FFFFFF 0%, #ED2939 100%);

}

#navigation {
    background-color:transparent;
    display: block;
    float:right;
    border: none;
    height:100%;
    width: 100%;
}

nav {
    display:block;
    border:none;
    outline: none;
    /*position:absolute;*/
    margin: 0 auto;
    margin-top: 15px;
    /*padding-right: 10px;*/
    text-align: center;
}

nav ul {
    display: inline;
    border:none;
    outline: none;
    padding: 0;
    font-family:'Raleway', Quicksand, sans-serif;
}

nav ul li {
    display: inline;
    border:none;
    outline: none;
    text-decoration: none;
    font-size: 25px;
    /*margin-left: 10px;*/
}

#toggleopen{
    display: none;
}

#toggleclose {
    display: none;
}




    /***   NAVI_close      ***/

 /***   HEADER_close    ***/

    /***    SECTIONS_open   ***/

section {
    width: 100%;
    left:0;
    margin:0 auto;
    padding: 10px 0 10px 0;
}

#one {
    background-color: white;
}

#logobig {
    text-align: center;
    /*background: url('../images/logo.PNG');*/
    height:150px;
    width:auto;
    /*background-size: auto;
    margin-top:5px;*/
    margin: 0 auto;
    display: block;
}

input[type=text] {
    width: 98%;
    height:30px;
    border-radius: 4px;
    background-color:white;
    border:1px solid rgb(3, 125, 192);
    margin: 3px;
    padding-left:6px;
    color: #aaaaaa;
}

input[type=text]:focus {
    width: 98%;
    height:30px;
    border-radius: 4px;
    background-color:white;
    border:1px solid rgb(3, 125, 192);
    margin: 3px;
    padding-left:6px;
    color: #aaaaaa;
}

input[type=button] {
    width: 40%;
    height:30px;
    background-color:white;
    border:1px solid rgb(3, 125, 192);
    margin: 3px;
    padding-left:6px;
    color: #aaaaaa;
    -webkit-appearance: none;
}

input[type=button]:hover {
    width: 40%;
    height:30px;
    background-color:skyblue;
    border:1px solid rgb(3, 125, 192);
    margin: 3px;
    padding-left:6px;
    color: white;
}

#two {
    background-color: lightblue;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #00A1DE 100%);
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #00A1DE 100%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #00A1DE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(100, #00A1DE));
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #00A1DE 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #00A1DE 100%);

}

#three {
    background-color:lightgrey;
    height:250px;
}


#four {
    background-color:white;
    height:250px;
}

.middletext {
    margin: 0 auto;
    text-align: center;
}

.mediumcontent {
    width:60%;
    margin: 0 auto;
}

#map {
    width:60%;
    height:100%;
    margin: 0 auto;
    position: relative;
    margin-top:-250px;
    z-index:10;
}
#streetview{
    width: 60%;
    height:100%;
    margin: 0 auto;
    position: relative;
    margin-top:-250px;
    z-index:10;
}

.overlay {
    background: transparent;/*rgba(0,255,0,0.2); */
    position: relative; 
    width: 60%;
    height: 100%; 
    margin: 0 auto;
    z-index:99;
}
        

    
    /***    SECTIONS_close  ***/

 /***   FOOTER_open     ***/

footer {
    background-color:lightgrey;
    bottom:0;
    height:auto;
    width: 100%;
    padding: 10px 0 10px 0;
}

footer .middletext a {
    color:black;
}

 /***   FOOTER_close    ***/

 /***   MEADIA_open     ***/

@media only screen and (max-width:60000px) {
    
}

@media only screen and (max-width:720px) {

    #cookie_alert {
        position:fixed;
        z-index: 105;
        height:auto;
    }
    
    header {
        position: fixed;
        z-index: 101;
        height: 60px;
    }
    
    .break {
        display:block;
        height:50px;
    }
    
    #logonav {
        display:block
    }
    
    nav   {
        height:100%;
        min-width:100%;
        
        position: relative;
        opacity:0.9;
        z-index:103;
        overflow-y:  auto;
        margin-top: 0px;
        border:none;
        display: none;
        
    }
    #navigation {
        background-color:transparent;
        display: block;
        margin: 0 auto;
        border: none;
        height:100%;
        min-width: 100%;
        width: 100%;
    }
    nav ul { }
    nav ul li {
        display: block;
        text-align: center;
        font-size: 28px;
        padding-left:0;
        margin: 0 auto;
    }
    #toggleopen {
        background-image: url('../images/toggle_open.png');
        float:right;
        width: 29px;
        height:22px;
        
        margin-right:10px;
        margin-top:20px;
        display:block;
        /*position:absolute;*/
        z-index:103;
    }
    #toggleclose {
        font-size: 55px;
        margin-top:15px;
        display:none;
        float:right;
        font-family: Quicksand, sans-serif;
        font-weight: normal;
        z-index:103;
        margin-right:10px;
        margin-top:10px;
        color:white;
    }
    
    section #one {
        margin-top:40px;
    }
    

    .mediumcontent {
        width:90%;
        margin: 0 auto;
    }
    
    #logobig {
        
    }
    
    section #one .break {
        /*height:80px;*/
    }
    
    #map {
        width:100%;
        height:110%;
        padding: 0;
        margin-top: -260px;
    }
    
    #streetview {
        width:100%;
        height:110%;
        padding: 0;
        margin-top:-255px;
    }
    
    .overlay {
        width:90%;
    }

}


 /***   MEADIA_close    ***/







section #one .middletext a {
    color:grey;
}

section #one .middletext a:hover {
    color:lightblue;
}
